asgiref==3.11.1
black==26.5.1
cffi==2.0.0
cfgv==3.5.0
click==8.4.1
cryptography==48.0.0
distlib==0.4.0
Django==5.2.14
filelock==3.29.0
identify==2.6.19
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pre_commit==4.6.0
pycparser==3.0
python-discovery==1.4.0
pytokens==0.4.1
PyYAML==6.0.3
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.15.0
virtualenv==21.4.1
